:root{
    --default_color:#000;
    --second_color: #2e2e2e;
    --banner_color:#f8d33b;
    --text_color:#f5fced;
}

*{
    padding: 0;
    margin: 0;
    list-style: none;
    box-sizing: border-box;
}

html, body{
    width: 100%;
    height: 100%;
    background-color: black;
}

#page{
    max-width: 1090px;
    width: 100%;
    margin: 20px auto;
    background-color: var(--second_color);
    min-height: 600px;
}